<%= form_with model: task do |form| %>
  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
  </div>
  <div>
  <%= form.label :status %><br>
  <%= form.text_area :status %><br>
</div>
  <div class="field">
    <%= form.submit %>
  </div>
<% end %>
